<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SOBRE NOSOTROS</title>
<link rel="stylesheet" href="nosotros.component.css">
<script src="https://kit.fontawesome.com/da5f6e1a69.js" crossorigin="anonymous"></script>

<h1>
  
  <div class="contenedor">
    <img src="Types-of-CBD-Skin-Care-Products.png">
    <div class="centrado">¿SOBRE NOSOTROS?</div>
  </div>

</h1>

</head>


<body>
  <h2>¿ Quienes somos ? </h2>
<P> Somos la tienda virtual más completa del cannabis medicinal en Colombia.
Actualmente nos dedicamos a distribuir productos cosméticos que cuentan 
con propiedades medicinales, así como productos textiles a base de cannabis 
y literatura sobre la planta. También, brindamos asesorías legales para  
personas interesadas en ingresar en el mercado del cannabis medicinal e industrial.<br>
  </P>

<h2>¿ Como lo hacemos? </h2>
<P>Buscamos los mejores laboratorios donde se fabrican productos a base de cannabis 
con registro sanitario INVIMA. Nuestras políticas establecen que los productos 
que ofrecemos sean confiables y seguros. Una vez seleccionados estos productos, 
los publicamos en nuestra tienda virtual para así facilitar el acceso de estos 
al consumidor final. Hacemos despachos a todo el territorio nacional, asegurando 
que la mercancía llegue en perfecto estado. Además, recibimos todos los medios 
de pago, facilitando aún más el acceso a estos productos. Por último, en nuestro 
blog de noticias generamos contenido especializado para educar sobre los beneficios
medicinales del cannabis <br>
  </P>


<h2>¿ Por qué lo hacemos ? </h2>
<P>Conocemos los grandes beneficios que esta planta puede brindar en la salud y bienestar
de las personas, es por esto que queremos democratizar el uso y comercialización, 
quitandole el estigma que durante tanto tiempo la ha acompañado. Creemos que el comercio 
justo y productos de excelente calidad sí pueden coexistir, por eso nos esforzamos por 
escoger a los mejores proveedores para poder satisfacer las necesidades de nuestros clientes.
Estamos seguros de la capacidad que tiene esta planta para convertir a Colombia en una potencia 
mundial de producción de derivados del cannabis cosméticos, medicinales e industriales y darle 
la posibilidad a millones de personas de beneficiarse. Happyshop es cannabis medicinal al alcance
de todos.
  </P>

</body>
</html>

