<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POLITICAS DE ENVIO</title>
<link rel="stylesheet" href="politicaenvio.component.css">
<script src="https://kit.fontawesome.com/da5f6e1a69.js" crossorigin="anonymous"></script>

<h1>
  
    <div class="contenedor">
      <img src="cbd-0.jpg">
      <div class="centrado">POLITICAS DE ENVIO</div>
    </div>
  
  </h1>gi
</head>
<body>

<h2>¿ Entrega del producto ? </h2>
<P> HAPPYSHOP enviará el (los) producto(s) adquiridos a través de nuestra plataforma www.happyshop.com
por medio de COORDINADORA, y este llegará a su destino en un tiempo máximo de ocho (8) días hábiles
siguientes al momento en que se generó la compra según la ciudad de destino. El plazo de entrega 
comenzará a contar a partir de la confirmación de tu pago por parte de SODIC SAS y el análisis de
los datos, lo cual puede tardar (1) un día hábil.<br>
 
Los pedidos se envían solo en días hábiles. Los días hábiles son de lunes a viernes, excluyendo 
los festivos nacionales de Colombia. Para las compras realizadas los días sábados, domingo y/o 
lunes festivo, el plazo de entrega comenzará a partir del siguiente día hábil.
        
</P>


    </body>
    </html>
