<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TERMINOS Y CONDICIONES</title>
<link rel="stylesheet" href="terminos.component.css">
<script src="https://kit.fontawesome.com/da5f6e1a69.js" crossorigin="anonymous"></script>


<h1>
  
    <div class="contenedor">
      <img src="img/imagenes cbd/imagen 1.jpg">
      <div class="centrado">TERMINOS Y CONDICIONES</div>
    </div>
  
  </h1>
</head>
<body>
    

<P>happyshop.com le solicita que como cliente y/o usuario, lea con especial cuidado el presente documento,
dado que por el solo hecho de navegar por nuestra página web o adquirir cualquiera de nuestros productos 
por este medio, se aceptan plenamente los términos y condiciones que se mencionan a continuación:<br>
<br>
Nota: en la venta de nuestros productos, podrán participar personas de cualquier parte del mundo. 
Sin embargo, si es su intención adquirir un producto, deberán tener en cuenta que la entrega solo se hará
dentro del territorio nacional (Colombia) a menos que expresamente dentro de la descripción del producto 
se especifique el cubrimiento en la entrega del país solicitado. </P> <br>

<h2>Las partes </h2>
<p>Entre el cliente, persona natural o jurídica, y de otro lado exxpertos.com, establecimiento de comercio 
constituido bajo las leyes colombianas, que cuenta con un sitio web para el desarrollo del comercio electrónico, 
celebran el presente contrato de conformidad con los términos y condiciones de uso que hacen parte integral de este contrato.
happyshop.com en todo caso presumirá de buena fe que está contratando directamente con el cliente o con su representante legal
debidamente facultado para efectuar este tipo de operaciones y ninguna responsabilidad asumirá happyshop.com  por suplantación 
personal que realice cualquier cliente y/o usuario. <br>
Parágrafo primero: Para realizar cualquier compra, es requisito esencial registrarse, identificarse y presentarse como usuario 
en la página web, actividades que podrán realizarse por medio de una cuenta de correo electrónico y una clave secreta del cliente 
y/o directamente ingresando los datos en nuestra pasarela de pagos.
</p>

<h2>La actividad </h2>
<p>happyshop.com pondrá a disposición de los clientes, los productos que pueden adquirirse. Estos se exhibirán de la manera 
más real posible, sin embargo, es necesario tener en cuenta que con cada equipo/computador, la imagen del producto podría
variar, por lo que la empresa no se hace responsable de este hecho si el cliente solicitara cambio por error en la 
selección del producto.
</p>

<h2>La aceptacion de los terminos </h2>
<p>Al ingresar y/o usar este sitio, el usuario admite haber leído y entendido estos términos de uso y está de acuerdo en
sujetarse a los mismos y cumplir con todas las leyes y reglamentos aplicables que hagan parte de la legislación colombiana. 
Además, cuando el usuario utilice cualquier servicio suministrado en este sitio, estará sujeto a las reglas, guías, políticas,
términos y condiciones aplicables a dicho servicio en particular.<br>
happyshop.com No se responsabiliza de que el material en este sitio sea apropiado o esté disponible para su uso en otros lugares,
estando prohibido su acceso desde territorios donde su contenido sea ilegal. Aquellos que decidan ingresar a este sitio desde otros 
lugares lo harán bajo su propia iniciativa y es su responsabilidad el sujetarse a las leyes locales que sean aplicables.<br>
En caso de que el usuario no esté de acuerdo con estos términos, favor abstenerse de usar este sitio. Cualquier reclamo con relación
a este sitio y el material en él contenido está regulado por las leyes de Colombia. Estos términos y condiciones están sujetos a cambios 
sin previo aviso en cualquier momento, bajo el principio de autonomía de voluntad de exxpertos.com  y a partir de la fecha de modificación
de estos términos y condiciones, todas las operaciones que se celebren entre exxpertos.com  y el usuario se regirán por el documento modificado.
    
</p>

<h2>Revicion de los terminos </h2>
<p>happyshop.com puede en cualquier momento revisar estos términos de uso aquí contenidos, por medio del reajuste de este anuncio. Al usar el
comercio electrónico, el usuario conviene en darse por obligado por cualquiera de tales revisiones, las cuales estarán vigentes a partir 
del momento en que las mismas sean accesibles por los usuarios, debiendo entonces visitar periódicamente esta página para determinar los 
términos vigentes en ese momento a los cuales el usuario estará obligado en el evento que decida utilizar este sitio
</p>

<h2>Propiedad </h2>
<p>Todas las marcas, enseñas, logos, nombres y cualquier otros signo distintivo, y demás elementos de propiedad insertados, usados y/o desplegados
en este sitio son propiedad exclusiva de happyshop.com, cualquier uso no autorizado constituirá una violación a los presentes términos y condiciones 
y a las normas vigentes nacionales e internacionales sobre propiedad industrial.
</p>

<h2>Derechos de autor </h2>
<p>Todos los contenidos en página web están protegidos por las normas sobre derechos de autor y por todas las normas nacionales e internacionales que
le sean aplicables. Exceptuando lo expresamente estipulado en estos términos y condiciones, queda prohibido todo acto de copia, reproducción,
modificación, creación de trabajos derivados, venta o distribución, exhibición de los contenidos, de ninguna manera o por ningún medio, incluyendo,
más no limitado a, medios electrónicos, mecánicos, de fotocopiado, de grabación o de cualquier otra índole, sin el permiso previo por escrito de happyshop.com
</p>

<h2>Formacion y pereccionamiento</h2>
<p>El contrato de compraventa de los productos de happyshop.com  se perfecciona solamente cuando el cliente en atención a la invitación a ofrecer realizada 
por happyshop.com presente la oferta de compra mediante la selección del producto y efectúe el pago según las modalidades expuestas.<br>
El cliente podrá pagar el producto a través del mismo aplicativo en el que ha seguido el proceso. Los medios de pago serán los establecidos 
por happyshop.com en este caso son los que se estipulen en la página web.<br>
Nota: el número máximo de unidades permitidas por pedido estará sujeta a disponibilidad de inventario.
    
</p>

<h2>Termino de la oferta </h2>
<p>happyshop.com podrá aceptar la oferta de forma inmediata luego de efectuado el pago, la cual podrá ser aceptada de manera total o parcial.<br>
Parágrafo primero: la aceptación de la oferta se realizará por medio de correo electrónico dirigido a la dirección suministrada por parte
del cliente. No obstante, en todo caso se entenderá como aceptada la oferta en el momento en que happyshop.com despache los productos al cliente.<br>
Debe tener en cuenta nuestro cliente, que el mero registro, el suministro de la clave personal a nuestro cliente o la remisión de la información 
o transacción no significa aceptación de ninguna oferta.<br>
Parágrafo segundo: en el evento que happyshop.com por cualquier motivo no acepte la oferta formulada de manera total o parcial, procederá a devolver 
los dineros de forma total o parcial según corresponda, a una cuenta de titularidad del oferente en una cuantía idéntica a la consignada en nuestras 
cuentas, sin ningún tipo de interés, indemnización u otros rubros.
    
</p>

<h2>Precio </h2>
<p>El valor total de la compra estará compuesto de los siguientes rubros a cargo del cliente: valor del producto, impuestos y gastos de transporte 
si fuese el caso.<br>
Parágrafo primero: happyshop.com se compromete a revisar constantemente y a actualizar los precios que se mencionan en la página web y a su vez, 
nuestro cliente y/o usuario, debe estar atento en caso de presentarse alguna irregularidad en los mismos.<br>
Parágrafo segundo: happyshop.com informará o publicará la tarifa de transporte y envío que tendrán los bienes los cuales se generarán dependiendo
de los costos, rubros y políticas de la empresa transportadora, las cuales son independientes autónomas y ajenas a happyshop.com  dentro del costo
del flete se deberá tener en cuenta el lugar del territorio colombiano al cual se deban enviar los productos adquiridos, el tamaño y el peso de estos.
    
</p>

<h2>condiciones y pagos</h2>
<p>Si el pago se va a hacer vía web, se efectuará única y exclusivamente por los medios que se estipulan en la página.<br>
Parágrafo: antes de la aceptación por parte nuestra de cualquier oferta de compra, el cliente deberá elegir los términos y 
condiciones de pago del precio correspondiente, según los medios de pago que se encuentran ya específicamente establecidos 
en este sitio. Aun cuando happyshop.com ponga a disposición del cliente un sistema de conexión segura para toda la realización
 de todas las ofertas de compra, en ningún caso será responsable por los fallos en las comunicaciones de las entidades bancarias
  o de crédito, así como tampoco de los daños causados a los usuarios con ocasión de una acción u omisión de dichas entidades.
    
</p>

<h2>Productos</h2>
<p>Productos
El envío de los productos se realizará únicamente dentro del territorio colombiano, y estará sujeto a disponibilidad 
de la transportadora la cual se le informara al momento de su compra, contados a partir de la aceptación de la oferta,
siempre y cuando no medie ningún caso fortuito o fuerza mayor, entre los cuales se encuentra a manera de ejemplo, hechos
del hombre o de la naturaleza, como huelgas, paros, revoluciones, rebelión sedición, asonada, atentados, cortes de fluidos,
derrumbes, terremotos, avalanchas, desbordamientos, caídas de puentes, entre otros.<br>
Parágrafo primero: el lugar de envío será la dirección señalada por el cliente en la oferta que este elabore en el formato
destinado para tal fin, el cual podrá ser el mismo lugar de habitación del comprador u otro que este designe. Se entiende 
que cualquier persona que se encuentre en el domicilio donde se debe realizar la entrega, se encuentra debidamente autorizado 
por el cliente para recibir su pedido, por lo que happyshop.com queda exonerado de cualquier responsabilidad al momento de la
entrega, siempre y cuando la misma se haga en el domicilio registrado al momento de la compra en el sitio web.<br>
Parágrafo segundo: igualmente se considera entrega infructuosa si el destinatario del producto es menor de catorce (14) años
y no se encuentra acompañado de un padre, tutor o acudiente que firme junto con el destinatario el recibido del producto.
    
</p>

<h2>Responsabilidad limitada </h2>
<p>Sin perjuicio de lo determinado en las normas imperativas de la legislación colombiana aplicable, happyshop.com no asume
responsabilidad alguna, incluyendo cualquier responsabilidad por cualquier daño o perjuicio, la pérdida de información 
o utilidades, existencia de virus, resultados del uso o la incapacidad para usar el material en este sitio, o cualquier
otro daño, aun cuando el usuario nos haya avisado acerca de la posibilidad de tales daños, o por cualquier reclamo de
terceros, salvo lo que expresamente aquí se estipula. Bajo los términos aquí señalados, exxpertos.com  no asume ninguna 
responsabilidad por la información que se suministra en la página, incluyendo, pero sin limitarse a la referente a productos
y/o servicios, notas de interés, opiniones, consejos prácticos y solución de inquietudes. happyshop.com no asume responsabilidad
alguna por la imposibilidad de, o por problemas en, la utilización del sitio o de alguna de las páginas que lo conforman, incluyendo,
pero sin limitarse a eventos tales como problemas en el servidor o en la conexión, interrupciones en su comunicación, problemas técnicos.
En caso de que el uso del material de este sitio dé como resultado la necesidad de dar servicio a, reparar o corregir equipo o información, 
el usuario asume cualquier costo derivado de ello.
</p>





 
</body>
</html>