<!-- Login Start -->
<div class="login">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">    
                <div class="register-form">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Nombres*</label>
                            <input class="form-control" type="text" placeholder="Nombres">
                        </div>
                        <div class="col-md-6">
                            <label>Apellidos*</label>
                            <input class="form-control" type="text" placeholder="Apellidos">
                        </div>
                        <div class="col-md-6">
                            <label>E-mail*</label>
                            <input class="form-control" type="text" placeholder="E-mail">
                        </div>
                        <div class="col-md-6">
                            <label>Teléfono</label>
                            <input class="form-control" type="text" placeholder="Teléfono">
                        </div>
                        <div class="col-md-6">
                            <label>Contraseña*</label>
                            <input class="form-control" type="text" placeholder="Contraseña">
                        </div>
                        <div class="col-md-6">
                            <label>Repetir Contraseña*</label>
                            <input class="form-control" type="text" placeholder="Repetir Contraseña">
                        </div>
                        <div class="col-md-12">
                            <button class="btn">Registrarse</button>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
<!-- Login End -->
